<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IntFix_Enterprise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IntFix_Enterprise.appset" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IntFix_Enterprise.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IntFix_Enterprise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <IntFix_Enterprise.Properties.Settings>
      <setting name="licensee" serializeAs="String">
        <value />
      </setting>
    </IntFix_Enterprise.Properties.Settings>
    <IntFix_Enterprise.appset>
      <setting name="Licensed" serializeAs="String">
        <value>Camberwell High School</value>
      </setting>
    </IntFix_Enterprise.appset>
    <IntFix_Enterprise.Settings1>
      <setting name="Licensed" serializeAs="String">
        <value />
      </setting>
    </IntFix_Enterprise.Settings1>
  </applicationSettings>
  <userSettings>
    <IntFix_Enterprise.Properties.Settings>
      <setting name="pingadr" serializeAs="String">
        <value>google.com</value>
      </setting>
      <setting name="license" serializeAs="String">
        <value>unactivated</value>
      </setting>
      <setting name="date" serializeAs="String">
        <value>2001-01-01</value>
      </setting>
      <setting name="produID" serializeAs="String">
        <value />
      </setting>
    </IntFix_Enterprise.Properties.Settings>
  </userSettings>
</configuration>